.navbar ul{
    padding-top: 0px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgb(34, 31, 73) ;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.navbar a:visited{
   text-decoration: none;
   color: rgb(223, 196, 147);
   

}
.navbar a:link{
    text-decoration: none;
    color: rgb(223, 196, 147);
    
 
 }

.navbar a{
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    font-family: "JejuHallasan";
    font-size: 40;
    margin-left: 15%;
    margin-right: 15%;
}
.navbar a:hover{
    color: rgba(223, 196, 147, 0.459);
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 0;
}

.seq1 {
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.seq2 {
    margin-top: -470px;
    max-width: 25%;
    max-height: 40px;
    float: right;
    margin-right: 20%; 
}
.seq4 {
    margin-top: -600px;
    max-width: 25%;
    max-height: 40%;
    float: right;
    margin-right: 20%; 
}

.seqb {
    margin-top: -400px;
    height: 1rem;
  width: 30rem;
    float: right;
    margin-right: 20%; 
    object-fit: cover
}

.content-container {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    height: 800px; 
    object-fit: cover; 
    display: block;
    
}
body {
    margin: 0;
    padding-top: 0px;
    background: rgb(223, 196, 147);
    color: rgb(10, 54, 10);
    font-family: 'EB Garamond', serif;
    margin-top: 0%;
}



h1 {
    text-align: center;
    font-family: "JejuHallasan";
    font-size: 100;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

p{
    padding-top: 0px;
    font-size: 25;
    margin-left: 20%;
    margin-right: 50%; 
}

.footer {
    padding-bottom: 0;
    background: rgb(34, 31, 73);
    height: 150px; 
    width: 100%;
}

.footer-text {
    padding-top: 10px;
    font-family: "JejuHallasan";
    color: rgb(223, 196, 147);
    font-size: 5px;
    line-height: 3px;
}
